@mixin between {
    display: flex;
    justify-content: space-between;
}
@mixin underline {
    padding-bottom: 5px;
    position: relative;
}
@mixin b_underline($border_type) {
    content: "";
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 25%;
    border-bottom: $border_type;
}
@mixin img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 180px;
}
@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
}
@mixin pages_marg {
    padding-top: 60px;
    padding-bottom: 40px;
}


@mixin mobile {
    @media screen and (max-width:map-get($breakpoints, mobile)){
        @content
    } 
}
@mixin tablet {
    @media screen and (min-width:map-get($breakpoints, mobile)) and (max-width:map-get($breakpoints, tablet)){
        @content
    } 
}