//Colors
$violet__opacity: rgba(162,92,192,0.7);
$violet: #a25cc0;
$white: white;
$beige: #EEE2DC;
$blue: #7689d8;
$light__blue: #6bc7f3;
$light__green: #badf92;
$light__violet: #c4a5e1;
$light__yellow: #fcf5a4;
$turquoise: #14c9d2;
$img_bg: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);

//Fonts
$work: "Work Sans", sans-serif;
$mada: "Mada", sans-serif;
$poppins: 'Poppins', sans-serif;
$libre: "Libre Baskerville", serif;
$lato: "Lato", sans-serif;