footer {
    height: 250px;
    background: $turquoise;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    span {
        font-size: 25px;
        font-weight: bold;
        color: white;
        font-family: $work;
        @include mobile {
            font-size: 100%;
        }
    }
    a {
        color: white;
        font-weight: bold;
        font-size: 55px;
        margin-top: 1%;
        font-family: $libre;
        @include mobile {
            font-size: 25px;
        }
    }
}

